


.parallax-window {
    min-height: 800px;
    background: transparent;
}

.parallax-slider {
    top: 0;
    left: 0;
}
.parallax-window {
    min-height: 800px;
    background: transparent;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px) scaleY(1);
    }
    10% {
        transform: translateY(40px) scaleY(1.3);
    }
    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
}
@keyframes fadeInNomal {
    0% {
        opacity: 0;
        transform: translateY(50px) scaleY(1);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
}
span.js-scroll-visible {display: inline-block;}

.fadeIn,
.fadeIn15, 
.fadeIn20, 
.fadeIn25,
.fadeIn30,
.fadeIn35,
.fadeIn40,
.fadeIn45,
.fadeIn50,
.fadeIn55,
.fadeInNormal15, 
.fadeInNormal20, 
.fadeInNormal25,
.fadeInNormal30,
.fadeInNormal35,
.fadeInNormal40,
.fadeInNormal45,
.fadeInNormal50,
.fadeInNormal55 {
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:forwards;
    overflow: hidden;
}
.fadeIn15{ animation-delay: 1.5s;}
.fadeIn20{ animation-delay: 2.0s;}
.fadeIn25{ animation-delay: 2.5s;}
.fadeIn30{animation-delay: 3.0s;}
.fadeIn35{animation-delay: 3.5s;}
.fadeIn40{animation-delay: 4.0s;}
.fadeIn45{animation-delay: 4.5s;}
.fadeIn50{animation-delay: 5.0s;}
.fadeInNormal55{animation-delay: 5.5s;animation-name:fadeInNomal;}
.fadeInNormal15{ animation-delay: 1.5s;animation-name:fadeInNomal;}
.fadeInNormal20{ animation-delay: 2.0s;animation-name:fadeInNomal;}
.fadeInNormal25{ animation-delay: 2.5s;animation-name:fadeInNomal;}
.fadeInNormal30{animation-delay: 3.0s;animation-name:fadeInNomal;}
.fadeInNormal35{animation-delay: 3.5s;animation-name:fadeInNomal;}
.fadeInNormal40{animation-delay: 4.0s;animation-name:fadeInNomal;}
.fadeInNormal45{animation-delay: 4.5s;animation-name:fadeInNomal;}
.fadeInNormal50{animation-delay: 5.0s;animation-name:fadeInNomal;}
.fadeInNormal55{animation-delay: 5.5s;animation-name:fadeInNomal;}

.contents {background-color: #fff;}
/* .fadeIn:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    height: 100%;
    right:0%;
    background-color: #fff;
} */

.contents {
padding-top: 0px;
}

* {margin: 0;padding: 0;-webkit-font-smoothing: antialiased;}
html {font-size: 17px;scroll-behavior: smooth;}
body {font-family: dnp-shuei-mincho-pr6n, sans-serif;font-weight: 400;font-style: normal;color: #2C2C2C;}
ul, ol {list-style: none;}
a {display: block;text-decoration: none;color:#2C2C2C;transition: all 0.2s;}
a:hover {transform: translateY(-5px);transition: all 0.2s;}
h1 {font-size: 3.5rem;letter-spacing: -0.3rem;}
h3 {font-size: 2.5rem;}
section {position:relative; margin-bottom: 100px;}
.only-sp {display: none;}
.mC {margin-left: auto;margin-right: auto;}
.maxW {max-width: 900px;}
.p2 {font-size: 2.0rem;}
.p15 {font-size: 1.5rem}
.p14 {font-size: 1.4rem}
.p13 {font-size: 1.3rem}
.p12 {font-size: 1.2rem}
.p11 {font-size: 1.1rem}
.p09 {font-size: 0.9rem}
.p08 {font-size: 0.8rem}
.colorBlack {color: #2C2C2C !important;}
.hamburger .colorBlack {background-color: #2C2C2C !important;}
.colorBlack::before, .colorBlack::after {background-color: #2C2C2C !important;}
.imgWrap {position: relative; overflow: hidden;border-radius: 10px;}
.imgWrap > div {position: relative;height: 100%;}
.imgWrap img {position: absolute; top:50%;left:50%; transform: translate(-50%, -50%); width: 100%;border-radius: 10px;}


/* header */
header {position: fixed;top:0;left:0; right:0;z-index: 100;padding: 20px;}

.header__inner {display: flex;align-items: center;align-items:unset;}
.header__inner, .header__inner a {color: #fff; font-weight: 600;}
.header__menu {position: relative;margin-left: auto;text-align:right;}
.header__logo {font-size: 2.0rem;z-index: 1000;}

/* mv */
.mv {position: relative; height: 100vh;margin-bottom: 100px;}
.mv__bg::after, .mv__bg {content:"";top:0px;left:0px;bottom:0px;right:0px;transition: all 2;}
.mv__bg {position: fixed;z-index: -1;transform: translateY(0)}
.mv__bg::after {top:0px;left:0px;bottom:0px;right:0px;
    position: absolute;
}
.mv__bg {background: url(../img/mv.jpg) no-repeat center center/cover;opacity:0; background-size: 150% auto;}
.mv__bg::after {background-color: rgba(0,0,0,0.2);}
.mv__content {opacity:1;position: absolute; top: 50%;left:50%;transform: translateY(-50%);color: #fff;z-index: -1}

.mv__bg--visible {opacity: 1;transition: background-size 7s cubic-bezier(.29, 0.95, 0.98, 1.0) 1s, opacity 3s 1s;background-size: 103% auto;}

/* concept */
#concept {height: calc(100vh - 100px);}
.concept__ttl {margin-bottom: 30px;}
.concept__txt {max-width: 60%;min-height: 300px;}
.concept__inner {position: relative;}
.concept__img {position: absolute;bottom: 0px; right:0px;width: 250px;height:250px; clip-path: circle(0% at center);}
.concept__img--visible {clip-path: circle(50% at center); transition: all 2s 2s;opacity:1 !important;}
.content__imgListArrow {text-align: right;}
.content__imgListArrow .arrow {position:relative;width: 20px;height: 20px;transform: rotate(-45deg)skew(  calc((90deg - 50deg) / 2),  calc((90deg - 50deg) / 2));;display: inline-block;background: #2C2C2C;}
.arrow-left::before , .arrow-right::before{content:"";position: absolute; width: 18px;height: 18px;background-color: #fff;}
.arrow-right::before {top:-1px;left:-1px}
.arrow-left::before {right:-1px;bottom:-1px;}

/*about */
.about_heading {margin-bottom: 20px;}
.about__content {display: flex;}
.about__leftContent {width: 40%;}
.about__img {width: 100%;height: 90%; border-radius: 10px;}
.about__imgSlider {display: flex;justify-content: center;align-items: center;height: 10%}
.about__imgSlider span {background-color: #00000033; width: 5px;height: 5px;border-radius: 50%;margin: 0 5px;}
.about__rightContent {flex: 1; margin-left: 50px;}
.about__rightContent ul {margin-bottom: 20px;}
.about__subTtl {font-weight: 600;}

/* content */
.content {margin-bottom: 80px;}
.content__imgList {padding: 0;}
.content__imgListInner {position: relative;height: 30vw;}
.content__img {position: absolute; width: 40vw; margin-right: 40px;height: 30vw;top:0;left:0;overflow: hidden;}


.content__img[order="0"] {transform:translateX(-41vw);}
.content__img[order="1"] {transform:translateX(0);}
.content__img[order="2"] {transform:translateX(41vw);}
.content__img[order="3"] {transform:translateX(calc(41vw + 41vw));}
.content__img[order="4"] {transform:translateX(calc(41vw + 41vw + 41vw));}
.content__img[order="5"] {transform:translateX(calc(41vw + 41vw + 41vw + 41vw));opacity: 0 !important;}
.content__img[order="6"] {transform:translateX(calc(41vw + 41vw + 41vw + 41vw));opacity: 0 !important;}
.content__img[order="7"] {transform:translateX(calc(41vw + 41vw + 41vw + 41vw));opacity: 0 !important;}
.content__img[order="8"] {transform:translateX(calc(41vw + 41vw + 41vw + 41vw));opacity: 0 !important;}
/* .content__img[order="9"] {transform:translateX(calc(41vw + 41vw + 41vw + 41vw));opacity: 0;} */


.contact__snsList {display: flex;}
.contact__snsList li {width: 30px;margin-right: 10px;}
.contact__mail {margin-bottom: 20px;}
.footer {background-color: #fff;}

@media screen and (max-width: 940px) {
    .mC {margin-left: 20px; margin-right: 20px;}
    .mv__bg {background-size: auto 150%;}
    .mv__bg--visible {background-size: auto 100%;}
}
@media screen and (max-width: 768px) {
    #main {overflow: hidden;}
    h1 {line-height: 1.3;margin-bottom: 20px;}
    h1 span {display: block;font-size:3.0rem;}
    html{font-size: 13px;}
    .only-sp {display:block;}
    .header__inner {align-items: center;}

    .header__menu {width: 40px;height: 40px}
    .header__menu .checkbox-toggle {position: absolute;top: 0;left: 0;z-index: 2;cursor: pointer;width: 40px;height: 40px;opacity: 0;}
    .header__menu .checkbox-toggle:checked + .hamburger > div {transform: rotate(135deg);}
    .header__menu .checkbox-toggle:checked + .hamburger > div:before,
    .header__menu .checkbox-toggle:checked + .hamburger > div:after {top: 0;transform: rotate(90deg);}
    .header__menu .checkbox-toggle:checked + .hamburger > div:after {opacity: 0;}
    .header__menu .checkbox-toggle:checked ~ .menu  {pointer-events: auto;visibility: visible;}
    .header__menu .checkbox-toggle:checked ~ .menu > div {transform: scale(1);transition-duration: .75s;}
    .header__menu .checkbox-toggle:checked ~ .menu > div > div {opacity: 1;transition: opacity .4s ease .4s;}
    .header__menu .checkbox-toggle:checked:checked + .hamburger > div {background: #2C2C2C;}
    .header__menu .checkbox-toggle:checked:hover + .hamburger > div {transform: rotate(225deg);}
    .hamburger {position: absolute;top: 0;left: 0;z-index: 1;width: 40px;height: 40px;border-radius: 0 .12em .12em 0;cursor: pointer;transition: box-shadow .4s ease;backface-visibility: hidden;display: flex;align-items: center;justify-content: center;}
    .hamburger > div {position: relative;flex: none;width: 100%;height: 2px;background: #FEFEFE;transition: transform .4s ease;display: flex;align-items: center;justify-content: center;}
    .hamburger > div:before,
    .hamburger > div:after {content: '';position: absolute;z-index: 1;top: calc(-40px / 4);left: 0;width: 100%;height: 2px;background: inherit;transition: transform .4s ease;}
    .hamburger > div:after {top: calc(40px / 4);}
    .menu {position: fixed;top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;visibility: hidden;overflow: hidden;backface-visibility: hidden;outline: 1px solid transparent;display: flex;align-items: center;justify-content: center;}
    .menu > div {width: 200vw;height: 200vw;background: #fff;border-radius: 50%;transition: all .4s ease;flex: none;transform: scale(0);backface-visibility: hidden;overflow: hidden;display: flex;align-items: center;justify-content: center;}
    .menu > div > div {text-align: center;max-width: 90vw;max-height: 100vh;opacity: 0;transition: opacity .4s ease;overflow-y: auto;flex: none;display: flex;align-items: center;justify-content: center;}
    .menu > div > div > ul {list-style: none;padding: 0 1em;margin: 0;display: block;max-height: 100vh;}
    .menu > div > div > ul > li {margin-bottom: 20px;display: block;}
    .menu > div > div > ul > li > a {position: relative;cursor: pointer;transition: color .4s ease;color:#2C2C2C;}

.mv {overflow: hidden;}
    .mv__bg {background-image: url(../img/mv_sp.jpg);}
    .mv__bg {background-size: 150% auto;position: absolute;}
    .mv__bg--visible {background-size: 100% auto;}
    .mv__content { left: unset;right: 20%; width: 80vw;z-index: 10; text-align: right;}

    #concept{height: auto;}
    .concept__txt {max-width: 100%;margin-bottom: 20px;}
    .concept__img {position: relative;text-align: right;margin-left: auto;}

    .about__leftContent {width: 100%;}
    .about__img {height: 300px;width: 100%;}
    .about__imgSlider {padding: 20px;}
    .about__rightContent {margin-left:0;}
    .about__content {display: block;}

    .slide-counsel-imgs, .slide-salon-imgs {width: 100% !important; transform: translateX(0) !important;}
.content__imgListInner {height: 70vw;}
    .content__img {width: 100vw;transform: translateX(0) !important;height: 70vw;margin-right:0;}
    .content__img img {}
    .content__img:nth-child(1) {left:-100vw;top:0;}
    .content__img:nth-child(2) {left:0vw;top:0;}
    .content__img:nth-child(3) {left:100vw;top:0;}
    .content__img:nth-child(4) {left:200vw;top:0;}
    .content__img:nth-child(5) {left:300vw;top:0;}
    .content__img:nth-child(6) {left:400vw;top:0;}
    .content__img:nth-child(7) {left:500vw;top:0;}
    .content__img:nth-child(8) {left:600vw;top:0;}
}

@media screen and (max-width: 480px) {
    .mv__bg {background-size:auto 150%;}
    .mv__bg--visible {background-size: auto 100% ;}
}
.js-scroll-visible {opacity: 0;}
/* .js-text {opacity: 0;transition: all 1s;}
.js-text--visible1 {opacity: 1; transition: all 2s .1s;}
.js-text--visible2 {opacity: 1; transition: all 2s .2s;}
.js-text--visible3 {opacity: 1; transition: all 2s .3s;}
.js-text--visible4 {opacity: 1; transition: all 2s .4s;}
.js-text--visible5 {opacity: 1; transition: all 2s .5s;}
.js-text--visible6 {opacity: 1; transition: all 2s .6s;}
.js-text--visible7 {opacity: 1; transition: all 2s .7s;}
.js-text--visible8 {opacity: 1; transition: all 2s .8s;}
.js-text--visible9 {opacity: 1; transition: all 2s .9s;}
.js-text--visible10 {opacity: 1; transition: all 2s 1.0s;}
.js-text--visible11 {opacity: 1; transition: all 2s 1.1s;}
.js-text--visible12 {opacity: 1; transition: all 2s 1.2s;}
.js-text--visible13 {opacity: 1; transition: all 2s 1.3s;}
.js-text--visible14 {opacity: 1; transition: all 2s 1.4s;}
.js-text--visible15 {opacity: 1; transition: all 2s 1.5s;}
.js-text--visible16 {opacity: 1; transition: all 2s 1.6s;}
.js-text--visible17 {opacity: 1; transition: all 2s 1.7s;}
.js-text--visible18 {opacity: 1; transition: all 2s 1.8s;}
.js-text--visible19 {opacity: 1; transition: all 2s 1.9s;}
.js-text--visible20 {opacity: 1; transition: all 2s 2.0s;}
.js-text--visible21 {opacity: 1; transition: all 2s 2.1s;}
.js-text--visible22 {opacity: 1; transition: all 2s 2.2s;}
.js-text--visible23 {opacity: 1; transition: all 2s 2.3s;}
.js-text--visible24 {opacity: 1; transition: all 2s 2.4s;}
.js-text--visible25 {opacity: 1; transition: all 2s 2.5s;}
.js-text--visible26 {opacity: 1; transition: all 2s 2.6s;}
.js-text--visible27 {opacity: 1; transition: all 2s 2.7s;}
.js-text--visible28 {opacity: 1; transition: all 2s 2.8s;}
.js-text--visible29 {opacity: 1; transition: all 2s 2.9s;}
.js-text--visible30 {opacity: 1; transition: all 2s 3.0s;}
.js-text--visible31 {opacity: 1; transition: all 2s 3.1s;}
.js-text--visible32 {opacity: 1; transition: all 2s 3.2s;}
.js-text--visible33 {opacity: 1; transition: all 2s 3.3s;}
.js-text--visible34 {opacity: 1; transition: all 2s 3.4s;}
.js-text--visible35 {opacity: 1; transition: all 2s 3.5s;}
.js-text--visible36 {opacity: 1; transition: all 2s 3.6s;}
.js-text--visible37 {opacity: 1; transition: all 2s 3.7s;}
.js-text--visible38 {opacity: 1; transition: all 2s 3.8s;}
.js-text--visible39 {opacity: 1; transition: all 2s 3.9s;}
.js-text--visible40 {opacity: 1; transition: all 2s 4.0s;}
.js-text--visible41 {opacity: 1; transition: all 2s 4.1s;}
.js-text--visible42 {opacity: 1; transition: all 2s 4.2s;}
.js-text--visible43 {opacity: 1; transition: all 2s 4.3s;}
.js-text--visible44 {opacity: 1; transition: all 2s 4.4s;}
.js-text--visible45 {opacity: 1; transition: all 2s 4.5s;}
.js-text--visible46 {opacity: 1; transition: all 2s 4.6s;}
.js-text--visible47 {opacity: 1; transition: all 2s 4.7s;}
.js-text--visible48 {opacity: 1; transition: all 2s 4.8s;}
.js-text--visible49 {opacity: 1; transition: all 2s 4.9s;} */

.js-content {opacity: 0; transform: translateY(20%); }
.js-content--slideUp {opacity: 1; transform: translateY(0); transition: 1s 1s;}
.slide-counsel-imgs, .slide-salon-imgs {overflow: visible;width: 122vw; transform: translateX(-11vw)}
.js-content--slideUp1 {opacity: 1 !important;top: 0 !important;transition: opacity 1s 1s, top 1s 1s, transform 5s ease-in-out 0s;;}
.js-content--slideUp2 {opacity: 1 !important;top: 0 !important;transition: opacity 1s 1.2s, top 1s 1.2s, transform 5s ease-in-out 0s;;}
.js-content--slideUp3 {opacity: 1 !important;top: 0 !important;transition: opacity 1s 1.4s, top 1s 1s, transform 5s ease-in-out 0s;;}

.hover-cursor {cursor: none !important; padding: 50px 0;}
.transition-clear {transition: all 0.3s !important;}
 /* #stalker {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  cursor: none !important;
  pointer-events: none;
  background-color: rgba(0,0,0,0.2);
  border-radius: 100%;
}
#stalker::before {
    content: ">";
    position: absolute;
    top: 50%;
    font-weight: 900;
    left: 50%;
    font-size: 3rem;
    color: #fff;
    transform: translate(-50%, -50%);
} */

#stalker,
#follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; 
  pointer-events: none;
}


#stalker.is-active::before {
    content: ">";
    position: absolute;
    top: 50%;
    font-weight: 900;
    left: 50%;
    font-size: 3rem;
    color: #fff;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
#stalker.is-active.left::before {
    content: "<";
}
#follower.is-active {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: 1;
  transition: transform ease .1s;
  text-align: center;
    background-color: rgba(0,0,0,0.5);
    transform: scale(3);
}
